<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        
        <link rel="shortcut icon" href="../../img/favicon.ico">
        <title>Component - My Docs</title>
        <link href="../../css/bootstrap.min.css" rel="stylesheet">
        <link href="../../css/font-awesome.min.css" rel="stylesheet">
        <link href="../../css/base.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script> 
    </head>

    <body>
        <div class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="../..">My Docs</a>
                <!-- Expander button -->
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Expanded navigation -->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                        <!-- Main navigation -->
                        <ul class="nav navbar-nav">
                            <li class="navitem">
                                <a href="../.." class="nav-link">R-Type Documentation</a>
                            </li>
                            <li class="dropdown active">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Haze <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="./" class="dropdown-item active">Component</a>
</li>
                                    
<li>
    <a href="../ComponentGfx/" class="dropdown-item">ComponentGfx</a>
</li>
                                    
<li>
    <a href="../Engine/" class="dropdown-item">Engine</a>
</li>
                                    
<li>
    <a href="../Entity/" class="dropdown-item">Entity</a>
</li>
                                    
<li>
    <a href="../Haze%20introduction/" class="dropdown-item">Haze introduction</a>
</li>
                                    
<li>
    <a href="../Pipelines/" class="dropdown-item">Pipelines</a>
</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Protocol <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../Protocol/Component%20Data/" class="dropdown-item">Component Data</a>
</li>
                                    
<li>
    <a href="../../Protocol/Inputs/" class="dropdown-item">Inputs</a>
</li>
                                    
<li>
    <a href="../../Protocol/Protocol/" class="dropdown-item">Protocol</a>
</li>
                                </ul>
                            </li>
                        </ul>

                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-toggle="modal" data-target="#mkdocs_search_modal">
                                <i class="fa fa-search"></i> Search
                            </a>
                        </li>
                            <li class="nav-item">
                                <a rel="prev" href="../.." class="nav-link">
                                    <i class="fa fa-arrow-left"></i> Previous
                                </a>
                            </li>
                            <li class="nav-item">
                                <a rel="next" href="../ComponentGfx/" class="nav-link">
                                    Next <i class="fa fa-arrow-right"></i>
                                </a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                    <div class="col-md-3"><div class="navbar-light navbar-expand-md bs-sidebar hidden-print affix" role="complementary">
    <div class="navbar-header">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#toc-collapse" title="Table of Contents">
            <span class="fa fa-angle-down"></span>
        </button>
    </div>

    
    <div id="toc-collapse" class="navbar-collapse collapse card bg-secondary">
        <ul class="nav flex-column">
            
            <li class="nav-item" data-level="2"><a href="#component-core" class="nav-link">Component core:</a>
              <ul class="nav flex-column">
              </ul>
            </li>
        </ul>
    </div>
</div></div>
                    <div class="col-md-9" role="main">

<h2 id="component-core">Component core:</h2>
<pre><code class="language-cpp">#include &quot;inputs.hpp&quot;

namespace Haze
{
    class Component;
    struct Position;
    struct Scale;
    struct Velocity;
    struct Move;
    struct Health;
    struct Damage;
    struct Collision;
    struct Hitbox;
    struct LifeTime;
    struct OnKeyPressed;
    struct OnKeyReleased;
    struct OnMousePressed;
    struct OnMouseReleased;
    struct Hide;
}
</code></pre>
<pre><code class="language-cpp">struct Position : public Component
{
    Position(float x, float y) : x(x), y(y) {}
    float x;
    float y;
    std::string getType() const override { return &quot;Position&quot;; }
    void show() const override { std::cout &lt;&lt; &quot;Position: &quot; &lt;&lt; x &lt;&lt; &quot;, &quot; &lt;&lt; y &lt;&lt; std::endl; }
};
</code></pre>
<p><code>Position</code> is used to set the position of the entity</p>
<pre><code class="language-cpp">struct Scale : public Component
{
    Scale(float x, float y) : x(x), y(y) {}
    float x;
    float y;
    std::string getType() const override { return &quot;Scale&quot;; }
    void show() const override { std::cout &lt;&lt; &quot;Scale: &quot; &lt;&lt; x &lt;&lt; &quot;, &quot; &lt;&lt; y &lt;&lt; std::endl; }
};
</code></pre>
<p><code>Scale</code> sets the scale of the entity. This is applied to the <code>Hitbox</code></p>
<pre><code class="language-cpp">struct Velocity : public Component
{
    Velocity(float x, float y) : x(x), y(y) {}
    float x;
    float y;
    std::string getType() const override { return &quot;Velocity&quot;; }
    void show() const override { std::cout &lt;&lt; &quot;Velocity: &quot; &lt;&lt; x &lt;&lt; &quot;, &quot; &lt;&lt; y &lt;&lt; std::endl; }
};
</code></pre>
<p><code>Velocity</code> is the movement applied to the entity every frame</p>
<pre><code class="language-cpp">struct Move : public Component
{
    Move(float x, float y) : x(x), y(y) {}
    float x;
    float y;
    std::string getType() const override { return &quot;Move&quot;; }
    void show() const override { std::cout &lt;&lt; &quot;Move: &quot; &lt;&lt; x &lt;&lt; &quot;, &quot; &lt;&lt; y &lt;&lt; std::endl; }
};
</code></pre>
<p><code>Move</code> is a movement applied only once to the entity, it is automatically destroyed after use</p>
<pre><code class="language-cpp">struct Health : public Component
{
    Health(int health) : health(health) {}
    int health;
    std::string getType() const override { return &quot;Health&quot;; }
    void show() const override { std::cout &lt;&lt; &quot;Health: &quot; &lt;&lt; health &lt;&lt; std::endl; }
};
</code></pre>
<p><code>Health</code> can be use to setup the health of an entity</p>
<pre><code class="language-cpp">struct Damage : public Component
{
    Damage(int damage) : damage(damage) {}
    int damage;
    std::string getType() const override { return &quot;Damage&quot;; }
    void show() const override { std::cout &lt;&lt; &quot;Damage: &quot; &lt;&lt; damage &lt;&lt; std::endl; }
};
</code></pre>
<p><code>Damage</code> can be used to setup the damage of an entity</p>
<pre><code class="language-cpp">struct Collision : public Component
{
    enum CollisionType
    {
        NONE = 0,
        LAMBDA = 1,
        WALL = 2,
    };
    struct CollisionInfo
    {
        CollisionType type;
        double tics;
        std::function&lt;void(int, int)&gt; onCollision = [](int i, int j) {};
        std::chrono::time_point&lt;std::chrono::high_resolution_clock&gt; lastCollision = std::chrono::high_resolution_clock::now();
    };
    Collision(std::string scene, std::map&lt;std::string, CollisionInfo&gt; behavior)
    : scene(scene), behavior(behavior) {}

    std::string scene;
    std::map&lt;std::string, CollisionInfo&gt; behavior;

    std::string getType() const override { return &quot;Collision&quot;; }
    void show() const override { std::cout &lt;&lt; &quot;Collision: &quot; &lt;&lt; scene &lt;&lt; std::endl; }
};
</code></pre>
<p><code>Collision</code> is the component that will define the collision behavior of an entity.
It takes :</p>
<ul>
<li>a <strong>scene</strong> that will be use as an identification tag for a group of entity</li>
<li>and a map of <strong>behavior</strong> that will define what happens on collision between two entity of certain scene.</li>
</ul>
<pre><code class="language-cpp">struct Hitbox : public Component
{
    struct intRect
    {
        int x;
        int y;
        int width;
        int height;
    };
    Hitbox(std::vector&lt;intRect&gt; hitbox) : hitbox(hitbox) {}
    std::vector&lt;intRect&gt; hitbox;
    std::string getType() const override { return &quot;Hitbox&quot;; }
    void show() const override { std::cout &lt;&lt; &quot;Hitbox: &quot; &lt;&lt; std::endl; }
};
</code></pre>
<p><code>Hitbox</code> is used to set the hitbox of an entity
it is defined as a vector of <code>intRect</code> which allows to have a hitbox composed of multiples rectangles.</p>
<pre><code class="language-cpp">struct LifeTime : public Component
{
    LifeTime(int lifeTime) : lifeTime(lifeTime) {}
    int lifeTime;
    int tics = 0;
    std::string getType() const override { return &quot;LifeTime&quot;; }
    void show() const override { std::cout &lt;&lt; &quot;LifeTime: &quot; &lt;&lt; lifeTime &lt;&lt; std::endl; }
};
</code></pre>
<p><code>LifeTime</code> can be used to set a lifetime limit for an entity
This lifetime is expressed in tics.</p>
<pre><code class="language-cpp">struct OnKeyPressed : public Component
{
    OnKeyPressed(std::function&lt;void(int, std::vector&lt;InputType&gt;)&gt; callback, size_t Player = 0) : callback(callback), Player(Player) {}
    std::function&lt;void(int, std::vector&lt;InputType&gt;)&gt; callback;
    size_t Player;
    std::string getType() const override {return &quot;OnKeyPressed&quot;;}
    void show() const override { std::cout &lt;&lt; &quot;OnKeyPressed&quot; &lt;&lt; std::endl; }
};
</code></pre>
<p><code>OnKeyPressed</code> can be used to set a <strong>callback</strong> to execute, with as an argument every simultaneous key pressed in the
engine.
The <code>size_t</code> <strong>Player</strong> is the id of the inputs.
The engine can have multiple list of inputs if used as a server.</p>
<pre><code class="language-cpp">struct OnKeyReleased : public Component
{
    OnKeyReleased(std::function&lt;void(int, std::vector&lt;InputType&gt;)&gt; callback, size_t Player = 0) : callback(callback), Player(Player) {}
    std::function&lt;void(int, std::vector&lt;InputType&gt;)&gt; callback;
    size_t Player;
    std::string getType() const override{return &quot;OnKeyReleased&quot;;}
    void show() const override { std::cout &lt;&lt; &quot;OnKeyReleased&quot; &lt;&lt; std::endl; }
};
</code></pre>
<p><code>OnKeyReleased</code> can be used to set a <strong>callback</strong> to execute, with as an argument every simultaneous key released in the
engine.
The <code>size_t</code> <strong>Player</strong> is the id of the inputs.
The engine can have multiple list of inputs if used as a server.</p>
<pre><code class="language-cpp">struct OnMousePressed : public Component
{
    OnMousePressed(std::function&lt;void(int)&gt; callback, size_t Player = 0) : callback(callback), Player(Player) {}
    std::function&lt;void(int)&gt; callback;
    size_t Player;
    std::string getType() const override{return &quot;OnMousePressed&quot;;}
    void show() const override { std::cout &lt;&lt; &quot;OnMousePressed&quot; &lt;&lt; std::endl; }
};
</code></pre>
<p><code>OnMousePressed</code> can be used to set a <strong>callback</strong> to execute every time the mouse is pressed and is intersecting the *
<em>hitbox</em><em> of the entity.
The <code>size_t</code> </em><em>Player</em>* is the id of the inputs.
The engine can have multiple list of inputs if used as a server.</p>
<pre><code class="language-cpp">struct OnMouseReleased : public Component
{
    OnMouseReleased(std::function&lt;void(int)&gt; callback, size_t Player = 0) : callback(callback), Player(Player) {}
    std::function&lt;void(int)&gt; callback;
    size_t Player;
    std::string getType() const override{return &quot;OnMouseReleased&quot;;}
    void show() const override { std::cout &lt;&lt; &quot;OnMouseReleased&quot; &lt;&lt; std::endl; }
};
</code></pre>
<p><code>OnMouseReleased</code> can be used to set a <strong>callback</strong> to execute every time the mouse is released and is intersecting the
<strong>hitbox</strong> of the entity.
The <code>size_t</code> <strong>Player</strong> is the id of the inputs.
The engine can have multiple list of inputs if used as a server.</p>
<pre><code class="language-cpp">struct Hide : public Component
{
    Hide() {}
    std::string getType() const override { return &quot;Hide&quot;; }
    void show() const override { std::cout &lt;&lt; &quot;Hide&quot; &lt;&lt; std::endl; }
};
</code></pre>
<p><code>Hide</code> is used to disable an entity.
When in this state, the entity in not displayed nor can receive inputs or move. </p></div>
            </div>
        </div>

        <footer class="col-md-12">
            <hr>
            <p>Documentation built with <a href="https://www.mkdocs.org/">MkDocs</a>.</p>
        </footer>
        <script src="../../js/jquery-3.6.0.min.js"></script>
        <script src="../../js/bootstrap.min.js"></script>
        <script>
            var base_url = "../..",
                shortcuts = {"help": 191, "next": 78, "previous": 80, "search": 83};
        </script>
        <script src="../../js/base.js"></script>
        <script src="../../search/main.js"></script>

        <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="searchModalLabel">Search</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <p>From here you can search these documents. Enter your search terms below.</p>
                <form>
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Search..." id="mkdocs-search-query" title="Type search term here">
                    </div>
                </form>
                <div id="mkdocs-search-results" data-no-results-text="No results found"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div><div class="modal" id="mkdocs_keyboard_modal" tabindex="-1" role="dialog" aria-labelledby="keyboardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="keyboardModalLabel">Keyboard Shortcuts</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 20%;">Keys</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="help shortcut"><kbd>?</kbd></td>
                    <td>Open this help</td>
                  </tr>
                  <tr>
                    <td class="next shortcut"><kbd>n</kbd></td>
                    <td>Next page</td>
                  </tr>
                  <tr>
                    <td class="prev shortcut"><kbd>p</kbd></td>
                    <td>Previous page</td>
                  </tr>
                  <tr>
                    <td class="search shortcut"><kbd>s</kbd></td>
                    <td>Search</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

    </body>
</html>
